.container
    .jumbotron
        h1 Summary
        p I am expected to get my master's in computer science from University of South Carolina in May, 2014. I am currently looking for a full-time position at data mining / machine learning field. I have a great passion in data science. I already had a lot of data-related courses, such as, Statistics, Data Mining, Big data, Pattern recognition, and Information Retrieve, Algorithm, and Data Structure. If you think I am the right person for your position, Please Email me or send me a message.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")